timetable.dtd

<!ELEMENT timeTable (complexes, lessons)>
<!ELEMENT complexes (complex+)>
<!ELEMENT lessons (lesson+)>
<!ELEMENT complex (name, address)>
<!ELEMENT lesson (date, time)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ATTLIST complex code ID #REQUIRED>
<!ATTLIST lesson no CDATA #REQUIRED>
<!ATTLIST lesson complex IDREF #REQUIRED>